*{
    box-sizing: border-box;
}
body{
    margin: 0;      
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
    font-size: 14px;
    line-height: 18px;
    color: #0A0A0A;
    background-color: #fff;    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;  
    color: inherit;  
}
.header{
    background-color: #0A0A0A;
    padding: 30px 30px;    
    color: #717171;
    font-size: 24px;
    line-height: 29px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-btn{
    display: none;
}
.menu{
    display: flex;  
    flex-grow: 1;
    flex-basis: 0;  
}
.phone{
    flex-grow: 1;
    flex-basis: 0;  
    text-align: right;
    font-size: 24px;
    line-height: 29px;
}
.menu-item{
    padding-right: 30px;
}
.headline{
    background-color: #F5F5F7;
    text-align: center;    
    padding: 70px 0 40px;
}
.headline-title{
    color: #490E84;
    font-weight: 700; 
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 0 0 40px;
    line-height: 77px;    
}
.headline-img{
    margin-bottom: 25px;    
}
.headline-btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}
.news{
    padding: 90px 0px 150px;
}
.news-title,.color-title{
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #717171;    
    text-align: center;
}
.news-info{
    display: flex;
    align-items: center;
}
.news-text p{
    max-width: 560px;
    margin: 0 0 30px;
}
.news-text b{
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;
}
.images-news{
    margin-left: 190px;
}
.Color{
    padding-bottom: 150px;
}
.color-item{
    width: 50%;
}
.color-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.color-item img{
    margin-bottom: 20px;
}
.color-item h3{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;
}
.color-item p{
    margin: 0;
}
.inner{
    display: flex;
    background-color: #574B63;
    color: #fff;
}
.contact-form{
    width: 100%;
    padding: 140px 78px;   
    text-align: center; 
}
.contact-title{
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    text-align: left;
}
.contact-input{
    padding: 10px 0; 
    border: none;   
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
}
.contact-input::placeholder{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: .5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.contact-form p{
    opacity: 0.5;
    margin: 30px 0;
    text-align: center;
}
.contact-form button{
    border: none;
    text-transform: uppercase;
    color: #490E84;
    background-color: #fff;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 700;
    cursor: pointer;
}
.footer{
    background-color: #0A0A0A;    
}
.footer-inner{
    color: #717171;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.footer-link{
    flex-grow: 1;
    flex-basis: 0;
}
.footer-inner a.phone{
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
/* adaptive */
@media (max-device-width:1200px){
    .contact{
        background-color: #574B63;
    }
    .headline-img{
        max-width: 100%;
    }
    .inner{
        display: block;        
    }
    .contact-form{
        width: auto;
    }
    .contact-title{
        text-align: center;
    }
    .contact-img{
        width: 100%;
    }
}
@media (max-device-width:1100px){
    .color-list{
        flex-wrap: wrap;
    }
    .color-item{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-device-width:940px){
    .images-news{
        display: none;
    }
    .news-text p, .news-text b{
        max-width: 100%;
    }
    .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: 1;
        position: relative;
        z-index: 50;
    }
    .logo, .phone{
        position: relative;
        z-index: 50;
    }
    .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .3s ease;
    }
    .btn-line:nth-child(1){
        top:0;
    }
    .btn-line:nth-child(2){
        top:20px;
    }
    .btn-line:nth-child(3){
        top:20px;
        
    }
    .btn-line:nth-child(4){
        top:40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scaleX(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scaleX(0);
    }
    .menu{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        transform: translateY(-100%);
        background-color: #0A0A0A;  
        transition: .3s;      
    }
    .menu-open .menu{
        transform: translateY(0);
        height: 100%;
    }
    .menu-item{
        padding: 50px 0;
        font-size: 56px;
    }
    .phone{
        text-align: center;
    }
}
@media(max-device-width:768px){
    .headline, .news{
        padding: 50px 0;
    }
    .Color{
        padding-bottom: 50px;
    }
    .contact-form{
        padding: 50px 90px ;
    }
}
@media (max-device-width:640px){
    .footer-inner{
        flex-direction: column;
        gap:15px;
    }
}
@media (max-device-width:560px){    
    .headline-title{
        font-size: 34px;
        line-height: 42px;
    }
    .headline-btn{        
        font-size: 18px;
        line-height: 22px;        
        padding: 16px 90px 16px;
    }
    .headline-img{
        max-width: 100%;
    }
    .news-title, .color-title, .contact-title{
        font-size: 28px;
        line-height: 32px;        
    }
    .color-item, .color-item img{
        width: 100%;              
    }  
    .contact-form{
        padding: 50px 50px;
    }     
}
@media (max-device-width:420px){
    .phone{
        flex-basis: auto;
        margin-top: 50px;
        order: 3;
        width: 100%;
        font-size: 22px;
    }
    .nav{
        flex-wrap: wrap;
    }
    .menu-item{
        font-size: 32px;
    }
}
